<a href="{{ site.github.owner_url }}" style="color: #000;">
  <i class="fa fa-github fa-{{ include.icon_size | default:"3" }}x" aria-hidden="true"></i>
</a>
<a href="{{ site.linkedin_url }}" style="color: #0077b5;">
  <i class="fa fa-linkedin fa-{{ include.icon_size | default:"3" }}x" aria-hidden="true"></i>
</a>
<a href="{{ site.kaggle_url }}" class="kaggle" style="font-size: 40px; color: #429bf4;">k</a>

<a href="{{ site.zestedesavoir_url }}"><img src="/assets/img/zds_small.png" alt="Zeste de Savoir"/></a>

<a href="{{ site.medium_url }}"><img src="/assets/img/medium_small.png" alt="Medium"/></a>
