<ul class="posts-list">
  {% for post in site.categories[page.id] | sort: 'date' %}
    {% if include.subcategory %}
      {% unless post.categories contains include.subcategory %}
        {% break %}
      {% endunless %}
    {% endif %}
  <li>
    <a href="{{ post.custom_url | default: post.url | absolute_url }}">
      <h4>{{ post.title }}</h4>
    </a>
    <div class="date">
      {% if post.source %}
        {{ post.source }} -
      {% endif %}
      {{ post.date | date: "%B %d, %Y" }}
    </div>

    <div class="tags">
      {% for tag in post.tags %}
        <span class="tag">{{ tag }}</span>{% unless tag == post.tags.last%},{% endunless %}
      {% endfor %}
    </div>

    <div class="post-excerpt">
      <div class="excerpt">{{ post.description | markdownify }}</div>
      <p class="more">
          <a href="{{ post.custom_url | default: post.url | absolute_url }}">Read more...</a>
      </p>
    </div>
  </li>
  {% endfor %}
</ul>
