a {
  color: #666;
}

h1 a, h1 a:hover {
  color: #303030;
}

footer {
  text-align: center;
}

footer .links {
  margin-bottom: 20px;
}

footer .contact {
  margin-bottom: 20px;
}

.link {
  margin-right: 20px;
}

header {
  padding-bottom: 0;
}

nav ul {
  text-align: center;
  margin: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 20px;
  padding: 0 20px;
}

nav a:hover, nav a.active {
  color: #303030;
}

/* Index */

.presentation p {
  text-indent: 50px;
}

.presentation a {
  text-decoration: underline;
}

.presentation strong a {
  font-weight: bold;
}

/* Posts */

.projects-page > p a {
  text-decoration: underline;
}

.projects-page h3 {
  text-align: center;
  color: #666;
}

.posts-list li {
  list-style-type: none;
  padding: 0;
}

.posts-list .excerpt {
  text-indent: 30px;
}

.posts-list .excerpt {
  margin: 0;
  margin-top: 10px;
}

.posts-list .more {
  text-align: right;
  margin: 0;
  margin-top: 5px;
}
