#sswi_container {
  margin: auto;
  width: 600px;
  text-align: center;
}

#sswi_config {
  display: flex;
  justify-content: center;
}

#sswi_config p {
  margin: 0 20px;
}

#sswi_colorscale {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#sswi_colorscale > div {
  height: 50px;
  width: 40px;
  text-align: center;
}

#sswi_colorscale > div p {
  margin: 0;
}

#sswi_colorscale > div div {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  margin: auto;
}

#sswi_spinner {
  margin-top: 20px;
}

#sswi_map {
  margin: auto;
  margin-top: 20px;
  width: 400px;
  height: 350px;
}
