#sswi_container {
  margin: auto;
  display: flex;
  flex-direction: column;
}

#sswi_config {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sswi_config p {
  margin: 0 20px;
}

#sswi_colorscale {
  margin-top: 20px;
  margin: auto;
}

#sswi_colorscale > div {
  display: flex;
  align-items: top;
  margin-top: 10px;
}

#sswi_colorscale > div .color_box {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

#sswi_colorscale > div .legend {
  margin: 0;
  text-align: left;
  font-size: 14px;
}

#sswi_map {
  margin: auto;
  margin-top: 20px;
  width: 400px;
  height: 370px;
}
