header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

header h1 {
  font-weight: normal;
  margin-left: 50px;
}

#quiz {
  margin: auto;
  max-width: 500px;
}

#quiz .unanswered_color {
  color: #aec6cf;
}

#quiz .success_color {
  color: #77dd77;
}

#quiz .mistake_color {
  color: #ff6961;
}

#quiz .question {
  margin-bottom: 50px;
}

#quiz .question .header {
  display: flex;
  align-items: center;
}

#quiz .question .header .title {
  flex-grow: 1;
  margin-left: 20px;
}

#quiz .question form {
  padding-left: 60px;
}

#quiz .stats {
  display: flex;
  justify-content: center;
  align-items: center;
}

#quiz .stats .row {
  margin-right: 80px;
  margin-bottom: 50px;
  text-align: center;
}

#quiz .stats .row:last-child {
  margin-right: 0;
}

#quiz .stats .row .icon {
  margin-bottom: 10px;
}

#quiz .stats .row .proportion {
  font-size: 20px;
}

#quiz .check {
  text-align: center;
  margin-bottom: 50px;
}

#quiz .check button {
  cursor: pointer;
}
