header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

header h1 {
  font-weight: normal;
  margin-left: 50px;
}

#spinner {
  text-align: center;
}

#config {
  display: none;
  align-items: center;
  justify-content: center;
}

#config .sep {
  font-size: 50px;
}

#config form {
  width: 100%;
  max-width: 500px;
  height: 100%;
  padding: 15px;
  margin: 0 50px;
  border: 3px dashed #eee;
  text-align: center;
}

#config form .title {
  font-size: 20px;
}

#config form input[type="submit"] {
  margin-top: 20px;
  cursor: pointer;
}

#quiz {
  margin: auto;
  max-width: 500px;
  display: none;
}

#quiz .unanswered_color {
  color: #aec6cf;
}

#quiz .success_color {
  color: #77dd77;
}

#quiz .mistake_color {
  color: #ff6961;
}

#quiz .question {
  margin-bottom: 50px;
}

#quiz .question .header {
  display: flex;
  align-items: center;
}

#quiz .question .header .title {
  flex-grow: 1;
  margin-left: 20px;
}

#quiz .question form {
  padding-left: 60px;
}

#quiz .stats {
  display: flex;
  justify-content: center;
  align-items: center;
}

#quiz .stats .row {
  margin-right: 80px;
  margin-bottom: 50px;
  text-align: center;
}

#quiz .stats .row:last-child {
  margin-right: 0;
}

#quiz .stats .row .icon {
  margin-bottom: 10px;
}

#quiz .stats .row .proportion {
  font-size: 20px;
}

#quiz .check {
  text-align: center;
  margin-bottom: 50px;
}

#quiz .check button {
  cursor: pointer;
}

#quiz .question.ranking .sortable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
}

#quiz .question.ranking .sortable li {
  list-style: none;
  border: 1px solid #CCC;
  background: #f9f7f7;
  margin: 5px;
  padding: 5px;
  height: 22px;
  cursor: move;
}

#quiz .question.ranking .sortable li.disabled {
  opacity: 0.5;
}

#quiz .question.ranking .sortable li.highlight {
  background: #FEE25F;
}

#quiz .question.ranking .sortable li.sortable-placeholder {
  border: 1px dashed #CCC;
  background: none;
}

#quiz .question.classification .choice .name {
  max-width: 50%;
}
