header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

header h1 {
  max-width: 500px;
  text-align: center;
  margin: 0;
  margin-left: 50px;
}

header h1 a {
  font-weight: normal;
  text-decoration: none;
  font-variant: small-caps;
  color: #bb7a66;
}

header h1 a span {
  color: #ed7a07;
}

#spinner {
  text-align: center;
}

#config {
  display: none;
  align-items: top;
  justify-content: center;
}

#config .sep {
  font-size: 50px;
}

#config form {
  width: 100%;
  max-width: 450px;
  min-height: 100%;
  margin: 0 50px;
  padding: 0 15px 15px 15px;
  text-align: center;
}

#config form fieldset {
  border: 1px solid #135996;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#config form .title {
  font-size: 20px;
  padding: 5px 10px;
  margin: 10px auto 10px auto;
  color: #135996;
  font-variant: small-caps;
  background: #FFF;
}

#config form .inputs {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

#config form .inputs select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPBAMAAADJ+Ih5AAAAMFBMVEUAAAD///////////////////////////////////////////////////////////87TQQwAAAAD3RSTlMABxITFRocL0xdaHfA1e23cmSMAAAAQUlEQVQIHWNgwA0iwVJaDAznNwBZzO8TGGR/Axl2PxgYGO9vAAo0AHlAIZAASGgLWAAo9B8sABICqQABcQiFkwQA24gRgZdnCfoAAAAASUVORK5CYII=) 90% / 15% no-repeat #135996;
  border: none;
  color: #FFF;
  padding: 5px 10px;
  padding-right: 25px;
}

#config form table {
  margin: auto;
  border-spacing: 0 10px;
}

#config form table .label {
  text-align: right;
  padding-right: 10px;
  color: #000;
  font-variant: small-caps;
}

#config form table .input {
  text-align: left;
}

#config form table .input > * {
  min-width: 100%;
  text-align: center;
}

#config form input[type="submit"] {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #f08139;
  background: #FFF;
  color: #f08139;
  font-weight: bold;
}

#quiz {
  margin: auto;
  max-width: 500px;
  display: none;
}

#quiz .unanswered_color {
  color: #aec6cf;
}

#quiz .success_color {
  color: #77dd77;
}

#quiz .mistake_color {
  color: #ff6961;
}

#quiz .question {
  margin-bottom: 50px;
}

#quiz .question .header {
  display: flex;
  align-items: center;
}

#quiz .question .header .title {
  flex-grow: 1;
  margin-left: 20px;
}

#quiz .question form {
  padding-left: 60px;
  margin-bottom: 20px;
}

#quiz .stats {
  display: flex;
  justify-content: center;
  align-items: center;
}

#quiz .stats .row {
  margin-right: 80px;
  margin-bottom: 50px;
  text-align: center;
}

#quiz .stats .row:last-child {
  margin-right: 0;
}

#quiz .stats .row .icon {
  margin-bottom: 10px;
}

#quiz .stats .row .proportion {
  font-size: 20px;
}

#quiz .check {
  text-align: center;
  margin-bottom: 50px;
}

#quiz .check button {
  cursor: pointer;
}

#quiz .question.ranking .sortable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
}

#quiz .question.ranking .sortable li {
  list-style: none;
  border: 1px solid #CCC;
  background: #f9f7f7;
  margin: 5px;
  padding: 5px;
  height: 22px;
  cursor: move;
}

#quiz .question.ranking .sortable li.disabled {
  opacity: 0.5;
}

#quiz .question.ranking .sortable li.highlight {
  background: #FEE25F;
}

#quiz .question.ranking .sortable li.sortable-placeholder {
  border: 1px dashed #CCC;
  background: none;
}

#quiz .question.classification .choice .name {
  max-width: 50%;
}

#quiz .help {
  display: none;
}

#quiz .help .clue {
  display: none;
  font-size: 14px;
  display: flex;
  align-items: center;
}

#quiz .help .clue i {
  color: #238ae6;
  font-size: 20px;
  margin-right: 10px;
}

#quiz .help .clue p {
  flex-grow: 1;
}

#quiz .help .expandable .header {
  text-decoration: none;
  color: #000;
}

#quiz .help .expandable .header i {
  margin-right: 5px;
  font-weight: bold;
}

#quiz .help .expandable .content {
  display: none;
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 20px;
  border-left: 3px solid #eee;
  padding-left: 10px;
}

#quiz .help .explanation_wrapper {
  margin-top: 30px;
}

#quiz .help .explanation_wrapper .title {
  text-decoration: underline;
}
