<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/custom.css' | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% seo %}
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1><a href="/">{{ site.title }}</a></h1>
          <h2>{{ site.description }}</h2>
          {% include nav.html %}
        </header>
        <hr>
        <section id="main_content">
          {% if page.categories %}
            {% include post_header.html %}
          {% endif %}
          {{ content }}
        </section>

        {% include footer.html %}
      </div>
    </div>
  </body>
</html>
